@import "./variables.scss";
@import "./variables.module.scss";
@import "./transtion.scss";
@import "./sidebar.scss";
@import "./element.scss";

html,
body {
  height: 100vh;
  margin: 0;
  font-size: 14px;
}

// :root {
//   width: 100%;
//   height: 100%;
//   background-color: #fff;
//   overflow: hidden;
// }

#app {
  width: 100%;
  height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

h3,
h4 {
  margin: 0.5rem 0;
  font-weight: bold;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #005980;
}
.container {
  position: relative;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  // background-color: #f0f2f5;
}
.appmain-container {
  // 谷歌
  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
  }
  // 火狐
  * {
    scrollbar-width: thin;
    scrollbar-color: #ccc #eee;
  }
}

.wid {
  width: 100% !important;
}

.omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w100 {
  width: 100px !important;
}
