// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// sidebar
$sideBarWidth: 200px;
$hideWidth: 64px;
$logoHeight: 60px;
$logoColor: #001529;
$tabsHeight: 40px;
$tabsBgColor: #fff;

$menuColor: #192034;

$menuText: #bfcbd9;
$menuActiveText: #409eff;

:export {
  menuColor: $menuColor;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
